/* container (the white rounded card) */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image:url(D:\ReactProject\ReactProjects\Weather-App\src\assets\background.jpg) ;
  background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.waether {
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
  padding: 24px;
  
  text-align: center;
  margin: 2rem auto;
  font-family: 'Segoe UI', sans-serif;
}

.heading{
  font-size: 32px;
    margin: 0;

    margin-bottom: 17px;
}
/* search bar */
.search {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  :focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.btn {
  margin-left: 8px;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  :hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}

.srchinput {
  display: flex;
}

/* day of week */
.day-name {
  margin: 4px 0;
  font-size: 36px;
  color: #555;
  font-family: monospace;
  font-weight: bold;
  margin-top: 12px;
}

/* weather icon */
.img {

  width: 70px;
    height: 70px;
    vertical-align: middle;
    margin-right: -0.5rem;
    font-size: 30px;
}


/* weather description */
/* .waether p {
  margin: 4px 0;
  color: #777;
  text-transform: capitalize;
} */

 .temp {
  
    font-size: 4rem;
    font-weight: 700;
    color: rgb(240, 207, 25);
    margin: 0.25rem 0;
}

 .name {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.wdescription {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  color: #333;
  text-transform: capitalize;
  
  
}
.error-message {
  color: red;
  text-align: left;
}

/* ——— coloum and card — */

.col {
  display: flex;
  justify-content: center;
  /* padding: 20px;
  background: #3498db;  */
}

.col1 {
  display: flex;
  gap: 35px; 
}

/* .card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: -12px;
}

.value {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -10px;
}

.label {
  font-size: 14px;
  color: gray;
}

@media (max-width: 500px) {
  body {
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

  #root {
    padding: 1rem;
    width: 100%;
  }

  .waether {
   
    margin-top: 30px;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .heading {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .srchinput {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
   
  }

  .btn {
    
    font-size: 16px;
    margin-left: 0;
  }
  .col1 {
    gap: 1rem;
  }

  .temp {
    font-size: 3rem;
  }

  .name {
    font-size: 20px;
  }

  .wdescription {
    font-size: 15px;
  }
 
}




















